@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@100..900&display=swap");

/* colors */

:root {
  --clr-main: #335c67;
  --clr-primary: #540b0e;
  --clr-secondary: #0d0d0d;
  --clr-accent: #e09f3f;
  --clr-background: #fffaf1;
  --spacing-unit: 16px;
}

/* general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--clr-background);
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
}

/* responsive typography */

.heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  background: transparent;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: calc(5.5em + 1.5vw + 1.25vh);
  font-weight: 800;
  margin-top: 16px;
}

h2 {
  font-size: calc(1.8em + 1vw +1vh);
  margin-top: calc(var(--spacing-unit) * 2);
}

h3 {
  font-size: calc(0.8em + 1vw + 1vh);
  margin-top: calc(var(--spacing-unit) * 1.5);
}

h4 {
  font-size: calc(0.4em + 0.75vw + 0.75vh);
  margin-top: calc(var(--spacing-unit) * 1.5);
}

p {
  font-size: calc(1.2em + 0.4vw + 0.12vh);
  background: transparent;
  margin-top: 2em;
}

.subtitle {
  font-weight: 330s;
  color: var(--clr-primary);
  text-shadow: 0.8px 0.8px 4px rgba(178, 166, 168, 0.2);
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 12px;
  text-align: center;
  color: var(--clr-primary);
  background: transparent;
}

button {
  padding: calc(var(--spacing-unit) / 1.2);
  font-size: 1em;
  width: 7em;
  text-align: center;
  color: var(--clr-background);
  background-color: var(--clr-primary);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: all var(--transition-speed) ease;
}

button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 16px;
}

section {
  margin: calc(var(--spacing-unit) x 4);
  padding: calc(var(--spacing-unit) x 2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  clear: both;
}

/* nav */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 8%;
  justify-content: space-between;
  z-index: 1000;
  color: var(--clr-background);
  background: transparent;
}

.scrolled {
  background-color: rgba(255, 250, 241, 0.8);
  color: var(--clr-primary);
}

nav {
  background: transparent;
}

.nav {
  list-style: none;
  display: flex;
  gap: 12px;
  background: transparent;
}

.nav li {
  display: inline;
}

.nav a {
  transition: all 0.3s ease 0;
}

.nav a:hover {
  color: var(--clr-background);
  background-color: var(--clr-secondary);
}

.logo {
  cursor: pointer;
}

/* hero */

header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: fit-content;
  padding: calc(24px + 3vw);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 36%,
      transparent 100%
    ),
    url(images/streetKenya.jpg) no-repeat center center/cover;
}

header div {
  display: flex;
  flex-direction: column;
  width: calc(200px + 16vw);
  margin: calc(36px + 4vh) 0px;
  color: var(--clr-background);
  background-color: transparent;
}

#cta {
  margin: 48px 0px;
  font-size: calc(0.75em + 0.75vw);
  width: 70%;
}

.logo {
  background-color: transparent;
  width: 6em;
  border-radius: 16px;
}

/* homepage */

#mission {
  height: 100vh;
}

#mission div {
  width: 60%;
}

#services {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Adjust the minmax values as needed */
  gap: 3em;
  margin: 8vw;
  justify-items: center;
  text-align: center;
}

#services div {
  aspect-ratio: 1/1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  margin: 5vw;
  max-width: 150px;
  max-width: 384px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

#services div * {
  padding: var(--spacing-unit);
}

#projects {
  display: flex;
  margin: 24px;
  gap: 16px;
  flex-wrap: wrap-reverse;
}

#projects div {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: calc(132px + 36vw);
  min-width: 184px;
  padding: 2%;
  background-color: lightgray;
  border-radius: 16px;
  transition: flex-grow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  font-size: smaller;
}

#projects div:hover {
  flex-grow: 2;
  z-index: 0;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary);
  color: var(--clr-background);
  padding: 24px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

footer li {
  display: inline;
  gap: var(--spacing-unit);
}

footer div {
  display: flex;
  padding: 20px 5%;
  justify-content: space-between;
  background-color: transparent;
}

footer p {
  text-align: center;
  font-size: smaller;
}

footer img {
  width: 4%;
  background-color: transparent;
}

/* media */

@media (max-width: 700px) {
  #services {
    grid-template-columns: 1fr;
  }
  #services div {
    width: calc(100px + 20vw);
    margin: 6vw;
  }
}

/* latest project

#our-journay {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-secondary);
  color: var(--clr-background);
  opacity: 98%;
  width: 90%;
  max-width: 1600px;
  top: -34px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  justify-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
}

#latest h2 {
  grid-row: 1;
  grid-column: 1/2;
}

#timeline {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-background);
  background-color: var(--clr-secondary);
  margin: 3em;
}

#timeline span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--clr-primary);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 15px;
  margin-bottom: calc(10px + 1rem);
}

#timeline span + p {
  margin: 15px 0px;
}

#timeline span + p::before {
  content: "";
  display: block;
  height: 0;
}

*/

#our-journey {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 98%;
  width: 90%;
  max-width: 1600px;
  top: -34px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  justify-items: center;
  text-align: center;
  padding: 50px 20px;
  background-color: var(--clr-secondary);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  background-color: transparent;
}

.timeline {
  width: 45%;
  padding: 10px 20px;
  background-color: transparent;
  text-align: left;
}

.timeline-item {
  margin-bottom: 40px;
  background-color: transparent;
}

.timeline-item h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--clr-primary);
}

.timeline-item p {
  margin: 0;
  color: var(--clr-background);
}

.description {
  width: 45%;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.description h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: var(--clr-background);
}

.description p {
  font-size: 1em;
  color: var(--clr-background);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .timeline,
  .description {
    width: 100%;
  }
}
